<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
        <add name ="SqlString" connectionString="server=202.114.3.225;database = futureShop;uid=sa;pwd=123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>